$color: #4ee2a3;
a {
  text-decoration: none;
  background-color: transparent;
  outline: none;
  display: inline-block;
}
.button {
  cursor: pointer;
  position: relative;
  display: block;
  margin: 0 auto;
  border: none;
  padding: 15px 45px;

  transition: all 0.5s;

  background: #1ed760;
  color: white;
  outline: none;
  font: {
    size: 20px !important;
    weight: 500 !important;
  }
  a {
    color: white;
  }
}
.Link {
  display: block;
  color: white;

  &:hover {
    color: white;
  }
}
.Overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.39);
}
* {
  ::-webkit-scrollbar {
    width: 8px;
    &-track {
      background: #f7f7f7;
    }
    &-thumb {
      background: #aaa;
    }
    &-thumb:hover {
      background: #999;
    }
  }
}
