$url: "https://res.cloudinary.com/db2nhrkkl/section4-bg.webp";
$color: #4ee2a3;
.AuthPage {
  height: 100vh;
  position: relative;
  background: {
    image: url($url);
    position: center;
    size: cover;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_footer {
    position: absolute;
    bottom: 0;
    color: rgb(180, 180, 180);
  }
}
