$color-hover: #ebebeb;
$color-primary: #1ed760;
$color-fade: #eafff1;

.calendar {
  width: 100%;
  overflow-x: hidden;
  position: relative;

  &-header {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px 20px;
    font: {
      size: 22px;
      weight: 500;
    }

    div:nth-child(1) {
      grid-column: 2;
    }

    &-now {
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
      background: $color-primary;
      transition: all 0.2s ease-in-out;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        background: #1cc958;
      }
    }

    &-month {
      display: flex;
      justify-content: center;
      align-items: center;

      &-change {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        font-family: cursive;

        transition: background 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          background: $color-hover;
        }
      }

      &-value {
        padding: 0 5px;
        border-radius: 10px;
        transition: background 0.2s ease-in-out;
        white-space: nowrap;
        cursor: pointer;

        &:hover {
          background: $color-hover;
        }
      }
    }
    &-year {
      color: $color-primary;
      font: {
        weight: bold;
        size: 26px;
      }
      &-value {
        position: relative;
        cursor: pointer;
        &::before {
          position: absolute;
          content: "";
          width: 0;
          height: 2px;
          top: 0;
          left: 0;
          transition: all 0.25s ease-out;
        }
        &::after {
          position: absolute;
          content: "";
          width: 0;
          height: 2px;
          bottom: 0;
          right: 0;
          transition: all 0.25s ease-out 0.1s;
        }
        &:hover {
          &::before {
            width: 100%;
            background: $color-primary;
          }
          &::after {
            width: 100%;
            background: $color-primary;
          }
        }
      }
    }
  }

  &-week-days {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    color: rgb(110, 110, 110);
    font: {
      weight: 600;
      size: 16px;
    }
    & > div:first-child {
      color: #fd6519;
    }
  }

  &-month {
    &-dates {
      display: grid;
      justify-content: center;
      grid-column-gap: 10px;
      grid-template-columns: repeat(7, calc(100% / 7 - 10px));
      transition: all 0.25s;
      &-prev {
        animation: leftToRight 0.25s ease-in-out backwards;
      }
      &-next {
        animation: rightToLeft 0.25s ease-in-out backwards;
      }
    }
    &-date {
      border-top: 2px solid rgb(236, 236, 236);
      white-space: inherit;
      height: 150px;
      transition: background 0.25s ease-in-out;
      cursor: pointer;
      &:hover {
        background: $color-hover;
      }
      &-value {
        font: {
          size: 20px;
          weight: bold;
        }
        color: black;
        transition: color 0.25s ease-in-out;
      }
      &-now {
        border-top: 3px solid $color-primary;
        & .calendar-month-date-value {
          color: $color-primary;
        }
      }
    }
    &-picker {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      display: none;
      grid-gap: 10px;
      grid-template-columns: repeat(3, 1fr);

      background: white;
      transition: all 0.25s ease-in-out;

      &-item {
        font: {
          size: 22px;
        }
        transition: background 0.25s ease-in-out;
        cursor: pointer;

        &-now {
          background: $color-fade;
          color: $color-primary;
          border-top: 3px solid $color-primary;
        }

        &:hover {
          background: $color-hover;
        }
      }
    }
  }
}

.select {
  background: $color-fade;
  & .calendar-month-date-value {
    color: $color-primary;
  }
}
.calendar-small {
  & .calendar-header {
    &-now {
      display: none;
    }
  }
  & .calendar-body {
    & .calendar-month-dates {
      & .select {
        background: none;
        & > div {
          background: none;
        }
      }
      & .calendar-month-date {
        display: flex;
        flex-direction: column;
        height: 70px;
        &:hover {
          border-color: $color-primary;
          background: none;
        }

        & .calendar-month-date-value {
          font-weight: 500;
          border-top: 2px solid white;
          transition: all 0.25s;
        }
      }
    }
  }
}
